<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.CatalogMapper">

    <resultMap id="baseResultMap" type="com.demo.entity.Catalog">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="name_en" jdbcType="VARCHAR" property="nameEn"/>
        <result column="order" jdbcType="VARCHAR" property="order"/>
    </resultMap>

    <!-- 插入单条 -->
    <insert id="insert">
        insert into catalog
            (id, name, name_en, order)
        values
            (#{id}, #{name}, #{nameEn}, #{order})
    </insert>

    <!-- 单条修改 -->
    <update id="update">
        update catalog set name = #{menu.name},
                        name_en = #{menu.nameEn},
                        order = #{order}
        where id = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="batchInsert">
        insert into catalog
            (id, name, name_en, order)
        values
            <foreach collection="list" item="item" separator="," index="index">
                (#{item.id}, #{item.name}, #{item.nameEn}, #{item.order})
            </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="batchUpdate">
        update catalog
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="name = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.name != null">
                        when id = #{item.id} then #{item.name}
                    </if>
                </foreach>
            </trim>
            <trim prefix="name_en = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.nameEn != null">
                        when id = #{item.id} then #{item.nameEn}
                    </if>
                </foreach>
            </trim>
            <trim prefix="order = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.order != null">
                        when id = #{item.id} then #{item.order}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        id in
        <foreach collection="list" separator="," item="item" index="index" open="(" close=")">
            #{item.id}
        </foreach>
    </update>


</mapper>
