<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.MenuMapper">

    <resultMap id="baseResultMap" type="com.demo.entity.Menu">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="catalog_id" jdbcType="VARCHAR" property="catalogId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="name_en" jdbcType="VARCHAR" property="nameEn"/>
        <result column="price" jdbcType="VARCHAR" property="price"/>
        <result column="ordinal" jdbcType="INTEGER" property="ordinal"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="batchInsert">
        insert into menu
            (id, catalog_id, name, name_en, price, ordinal)
        values
            <foreach collection="list" item="item" separator="," index="index">
                (#{item.id}, #{item.catalogId}, #{item.name}, #{item.nameEn}, #{item.price}, #{item.ordinal})
            </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="batchUpdate">
        update menu
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="catalog_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.catalogId != null">
                        when id = #{item.id} then #{item.catalogId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="name = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.name != null">
                        when id = #{item.id} then #{item.name}
                    </if>
                </foreach>
            </trim>
            <trim prefix="name_en = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.nameEn != null">
                        when id = #{item.id} then #{item.nameEn}
                    </if>
                </foreach>
            </trim>
            <trim prefix="price = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.price != null">
                        when id = #{item.id} then #{item.price}
                    </if>
                </foreach>
            </trim>
            <trim prefix="ordinal = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.ordinal != null">
                        when id = #{item.id} then #{item.ordinal}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        id in
        <foreach collection="list" separator="," item="item" index="index" open="(" close=")">
            #{item.id}
        </foreach>
    </update>


</mapper>
